@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merriweather+Sans:wght@300;400;700&family=Merriweather:wght@300;400;700;900&display=swap');
  :root {
    --background: rgba(140,14,3);
  }
  
  *,*:before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    overflow-x: hidden;
  }
  body {
      font-family: 'Lato', sans-serif;
    }


  p {
    font-size: 13px;
    line-height: 1.5;
  }

  button {
    padding: 10px 15px;
    border: none;
    background: #8C0E03;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
  }


  .navigation {
    padding-top: 1em;
    background: var(--background);
    text-align: center;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .nav-image {
    margin-top: 5px;
  }
  
  .nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span {
    color: white;
    /* font-size: .5em; */
  }



  nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1,0);
    transition: transform 400ms ease-in-out;
    transform-origin: top;
  }

  .nav-btn {
    display: none;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    padding-top: .6em;
    margin-bottom: 1em;
  }
  
  nav a {
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    }

    nav a:hover {
        color: #403C01;
      }
      
      .nav-toggle:checked ~ nav {
        transform: scale(1,1);
      }
      
      .nav-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
      }

      .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 15px;
        height: 80vh;
        background: url("images/hero-image.jpg");
        background-size: cover;
      }

.hero-counter {
  padding: 1em 3.5em;
  background-color: rgba(140,14,3, .5);
  border-radius: 5%;
}

 .hero header {
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: 'Merriweather', serif;
 }

 .hero .time-content {
display: flex;
column-gap: 30px;
align-items: center;
justify-content: center;

 }

.time-content .time{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.time .number{
  font-size: 50px;
  font-family: 'Lato', sans-serif;
font-weight: bold;
}

.time .text{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15px;
  text-transform: capitalize;
}

.time .number,
.time .text{
  color: white;
}

.hero button{
  background: #403C01;
  padding: 10px, 10px;
  display: block;
  margin: 15px auto;
}

.hero button:hover {
  background: rgba(140,14,3);
  color: white;
  text-transform: uppercase;
}

button a {
  text-decoration: none;
  color: white;
}






      .gallery {
        display: none;
      }

      footer {
        background: #8C0E03;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 1em;
      }

      .footer img {
        padding: 3em 0;
      }
      
      .icons {
        display: flex;
        align-items: center;
        margin: 0 2em;
      gap: 1em;
      }
      
      .footer-nav {
        list-style: none;
        display: flex;
        gap: 2em;
      }
      
      .footer-nav li a {
        font-family: 'Merriweather Sans', sans-serif;
          font-weight: bold;
          text-decoration: none;
          font-size: 1rem;
      color: white;
      }

      .main-carousel {
        background: black;
        padding: 1em 1em;
      }

      .sign-up{
        padding-top: 2em;
        justify-content: center;
        text-align: center;
      }

        h1{
          font-size: 35px;
          color: #8C0E03;
          font-family: 'Merriweather Sans', sans-serif;
          font-weight: bold;
        }
        
        h1 span {
          color: black;
          font-family: 'Merriweather', serif;
        }
        
        .sign-up button{
          background: #403C01;
          padding: 9px 15px;
        }
        
        .sign-up button:hover {
          background: #8C0E03;
          color: white;
        }
        
        .sign-button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 50px;
        }
  

      .card-container {
        justify-content: center;
        align-items: center;
        padding: 0em 2em;
      }
      
      .card {
        width: 100%;
      }
      
      .card img {
        width: 100%;
        object-fit: cover;
        padding-bottom: .5em;
      }
      
      .card-content {
        justify-content: center;
        text-align: justify;
        
      }

      .card-content header {
        font-family: 'Merriweather', serif;
        font-size: 35px;
        color: #403C01;
        padding-bottom: .2em;
      }
      
      .card-content-h2::before {
        content: "\2014 \0020";
        }

        h2{
          font-family: 'Lato', sans-serif;
          font-size: 13px;
        }

 
        .planning-card {
          padding: 3em 2em;
        }
        
        .planning-card header {
          font-family: 'Merriweather', serif;
          font-size: 40px;
          color: #403C01;
          padding-bottom: 18px;
        }

        .headlines header{
          font-family: 'Merriweather', serif;
          font-size: 35px;
          color: #403C01;
          padding-bottom: .5em;
        }
        
        .headlines-h2::before {
          content: "\2014 \0020";
          }
        
        .cards {
          display: flex;
          flex-direction: column;
          gap: 2em;
        }
        
        .visit-card {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }



        
        .visit-card img {
          width: 100%;
        }
        
        .visit-card button {
          margin-top: .5em;
          background: #8C0E03;
          padding: .5em 1em;
          text-transform: uppercase;
        }
        
        .visit-card  button:hover {
          background: #403C01
        }
        
        h3 {
          padding-top: .6em;
          font-family: 'Merriweather Sans', sans-serif;
          color: #403C01;
          font-size: 18px;
        }

.sponsors {
  padding: 2em 0;
}

        .sponsor-text {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        }
        
        .sponsors header {
   display: none;
        }
        
        .sponsor-images {
          display: flex;
          flex-direction: column;
          justify-content: center;
         align-items: center;
         gap: 1em;
        }

        .wager {
          background-image: url(images/wager-image.jpg) ;
          background-size: cover;
          background-position: center;
          width: 90%;
          min-height: 300px;
          margin: 0 auto;
          position: relative;
          margin-bottom: 2em;        }
        
        .wager-content {
          position: absolute;
          bottom: 1em;
          right: 2em;
        }
        
        .wager-h4::before {
        content: "\2014 \0020";
        }
        
        .wager header {
          font-family: 'Merriweather', serif;
          font-size: 25px;
          color: white;
          padding-bottom: 10px;
        }
        
        .wager button {
          background: #8C0E03;
        }
        
        .wager  button:hover {
          background: #403C01
        }

        h4 {
          font-family: 'Lato', sans-serif;
          font-size: 13px;
          color: white;
        }


        .tickets {
          padding-top: 40px;
          padding-bottom: 90px;
        }
        
        
        .tickets header {
          font-family: 'Merriweather', serif;
          font-size: 40px;
          color: #403C01;
          padding-bottom: .5em;
        }
        
        .headlines2 {
          padding-left: 2em;
        }
        
        .headlines2-h2::before {
          content: "\2014 \0020";
          }
        
          .cards2 {
            display: flex;
          flex-direction: column;
          gap: 2em;
          }
        
          .card-wrap h5{
        padding: 0 2em;
        font-size: 1.7em;
          }
          
          .visit-card2 {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding: .5em 2em;
          }
          
        
          .visit-card2 img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            padding-bottom: .5em;
          }
          
          .visit-card2 button {
            background: #8C0E03;
            margin-top: 1em;
          }
          
          .visit-card2  button:hover {
            background: #403C01
          }

          h5 {
            font-family: 'Merriweather', serif;
            color: #403C01;
            font-size: 20px;
            text-align: center;
          }

          .form-content header {
            color: #EBE7D8;
            font-size: 3em;
            font-family: 'Merriweather', serif;
          }
          
          .form-container {
            /* width: 700px; */
            display: flex;
            justify-content: center;
            filter: drop-shadow(5px 5px 0.5rem gray);
            background: #403C01;
          }
          
          
          .form-content {
            text-align: center;

          }
          
          form {
            width: 500px;
            background: #403C01;
            padding: 3em;
          }
          
          form div {
            margin: 15px;
          }
          
          label {
            font-size: .8em;
          }
          
          form input {
            padding: 10px;
            width: 100%;
            border: none;
            border-bottom: 1px solid #999;
            background: white;
          }
          
          select {
            font-size: .8em;
            color: gray;
            width: 100%;
            padding: 10px 15px;
            filter: drop-shadow(5px 5px 0.5rem gray)
            border-bottom: 1px solid #999;
            background-color: white;
          }
          
          h6{
            color: white;
            font-family: 'Merriweather Sans', sans-serif;
            margin-bottom: .5em;
          }
          
          .agree input {
            width: auto;
          }
          .agree label {
            color: white;
          }
          
          button {
            padding: 10px 15px;
            border: none;
            background: #8C0E03;
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            color: white;
          }
          
          button:hover {
            background: #EBE7D8;
          }





  @media screen and (min-width: 600px){

    .nav-toggle-label {
        display: none;
      }
      
    .navigation {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
      /* display: flex;
      justify-content: space-between;
      align-items: center; */
      }


      
      nav {
        all:unset;
        grid-column: 3/4;
      }

      nav ul {
        display: flex;
         justify-content: flex-end;
;
      }
      
      nav li {
        margin-left: 3em;
        margin-bottom: 0;
      }
      
      nav a {
        opacity: 1;
        position: relative;
      }

      .nav-btn {
        display: block;
        justify-self: center;
        background: #F27B35;
      }

      .nav-btn-a {
        text-decoration: none;
      }

      button {
        padding: 10px 15px;
        border: none;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        color: white;
      }

     
      
      button:hover {
        background: #403C01;
        color: white;
      }
      
      .text{
        align-items: center;
        justify-content: center;
      }
      
      .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 15px;
        height: 90vh;
        background: url("images/hero-image.jpg");
        background-size: cover;
      }

.hero-counter {
  padding: 1em 3.5em;
  background-color: rgba(140,14,3, .5);
  border-radius: 5%;
}

 .hero header {
  color: white;
  font-size: 70px;
  font-family: 'Merriweather', serif;
 }

 .hero .time-content {
display: flex;
column-gap: 30px;
align-items: center;
justify-content: center;

 }

.time-content .time{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.time .number{
  font-size: 50px;
  font-family: 'Lato', sans-serif;
font-weight: bold;
}

.time .text{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15px;
  text-transform: capitalize;
}

.time .number,
.time .text{
  color: white;
}

.hero button{
  background: #403C01;
  padding: 10px, 10px;
  display: block;
  margin: 15px auto;
}

.hero button:hover {
  background: rgba(140,14,3);
  color: white;
  text-transform: uppercase;
}

.sign-up{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

h1{
  font-size: 50px;
  color: #8C0E03;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
}

h1 span {
  color: black;
  font-family: 'Merriweather', serif;
}

.sign-up button{
  background: #403C01;
  padding: 9px 15px;
}

.sign-up button:hover {
  background: #8C0E03;
  color: white;
  text-transform: uppercase;
}

.sign-button {
display: flex;
justify-content: center;
margin-top: 20px;
margin-bottom: 50px;
}




.card-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
  gap: 2em;
  padding: 1.5em 70px;
}

.card {
  width: 40%;
}

.card img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.card-content {
  margin-left: 2em;
padding-right: 70px;
width: 50%;
}

.card-content-h2::before {
  content: "\2014 \0020";
  }




.gallery {
display: grid;
grid-template-columns: repeat(4, 1fr);
padding-bottom: 30px;
}

.gallery img {
  width: 100%;
  height: auto;
}




.planning-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.planning-card header {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  color: #403C01;
  padding-bottom: 18px;
}

.headlines {
  padding-left: 70px;
  padding-bottom: 10px;
}

.headlines-h2::before {
  content: "\2014 \0020";
  }

.cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 0 5em;
  gap: 2em;
}

.visit-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.visit-card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.visit-card button {
  background: #8C0E03;
  margin-top: 10px;
}

.visit-card  button:hover {
  background: #403C01
}



.sponsor-text {
  display: flex;
text-align: center;
justify-content: center;
align-items: center;
}

.sponsors header {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  color: #403C01;
  padding-bottom: 5px;
  padding-top: 50px;
}

.sponsor-images {
  display: grid;
  gap: 2em;
 grid-template-columns: repeat(4, 1fr);
 align-items: center;
  padding: 1em 10em;
}

.wager {
  background-image: url(images/wager-image.jpg) ;
  background-size: cover;
  background-position: center;
  width: 80%;
  min-height: 554px;
  margin: 0 auto;
  position: relative;
margin-bottom: 30px;
margin-top: 10px;
}

.wager-content {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.wager-h4::before {
content: "\2014 \0020";
}

.wager header {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  color: white;
  padding-bottom: 10px;
}

.wager button {
  background: #8C0E03;
}

.wager  button:hover {
  background: #403C01
}


.tickets {
  padding-top: 40px;
  padding-bottom: 90px;
}


.tickets header {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  color: #403C01;
  padding-bottom: 18px;
}

.headlines2 {
  padding-left: 70px;
  padding-bottom: 10px;
}

.headlines2-h2::before {
  content: "\2014 \0020";
  }

  .cards2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0 5em;
    gap: 3em;
  }

  .card-wrap h5{
    text-align: center;
    margin: 0 2em;
    position: relative;
    top: 18px;
  }
  
  .visit-card2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #EBE7D8;
    padding: 2em;
    min-height: 500px;
  }
  

  .visit-card2 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  
  .visit-card2 button {
    background: #8C0E03;
    margin-top: 5px;

  }
  
  .visit-card2  button:hover {
    background: #403C01
  }



.main-carousel {
  background: black;
  padding: 1em 1em;
}



h4 {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: white;
}

h3 {
  font-family: 'Merriweather Sans', sans-serif;
  color: #403C01;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 20px;
}

h5 {
  font-family: 'Merriweather', serif;
  background-color:#8C0E03;
  color: #EBE7D8;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 30px;
}

h2{
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

.card-container header {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  color: #403C01;
  padding-bottom: 20px;
}


.card-planning {
  margin-top: 70px;
}



.form-content header {
  color: #EBE7D8;
  font-size: 3em;
  font-family: 'Merriweather', serif;
}

.form-container {
  /* width: 700px; */
  display: flex;
  justify-content: center;
  filter: drop-shadow(5px 5px 0.5rem gray);
  background: white;
}


.form-content {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

form {
  width: 500px;
  background: #403C01;
  padding: 3em;
}

form div {
  margin: 15px;
}

label {
  font-size: .8em;
}

form input {
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
  background: white;
}

select {
  font-size: .8em;
  color: gray;
  width: 100%;
  padding: 10px 15px;
  filter: drop-shadow(5px 5px 0.5rem gray)
  border-bottom: 1px solid #999;
  background-color: white;
}

h6{
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  margin-bottom: .5em;
}

.agree input {
  width: auto;
}
.agree label {
  color: white;
}

button {
  padding: 10px 15px;
  border: none;
  background: #8C0E03;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: white;
}

button:hover {
  background: #EBE7D8;
}



    }