@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merriweather+Sans:wght@300;400;700&family=Merriweather:wght@300;400;700;900&display=swap');
  :root {
    --background: rgba(140,14,3);
  }
  
  *,*:before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: sans-serif;
  }

  .container {
    width: 100%;
  }


  .navigation {
    padding-top: 1em;
    background: var(--background);
    text-align: center;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span {
    color: white;
    font-size: .5em;
  }

  nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1,0);
    transition: transform 400ms ease-in-out;
    transform-origin: top;
  }

  .nav-btn {
    display: none;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    padding-top: .6em;
    margin-bottom: 1em;
  }
  
  nav a {
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    }

    nav a:hover {
        color: #403C01;
      }
      
      .nav-toggle:checked ~ nav {
        transform: scale(1,1);
      }
      
      .nav-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
      }


  @media screen and (min-width: 600px){
    .nav-toggle-label {
        display: none;
      }
      
    .navigation {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
      /* display: flex;
      justify-content: space-between;
      align-items: center; */
      }

   

      
      nav {
        all:unset;
        grid-column: 3/4;
      }

      nav ul {
        display: flex;
         justify-content: flex-end;
;
      }
      
      nav li {
        margin-left: 3em;
        margin-bottom: 0;
      }
      
      nav a {
        opacity: 1;
        position: relative;
      }

      .nav-btn {
        display: block;
        justify-self: center;
      }

      button {
        padding: 10px 15px;
        border: none;
        background: #F27B35;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        color: white;
      }
      
      button:hover {
        background: #403C01;
        color: white;
      }
      
      .text{
        align-items: center;
        justify-content: center;
      }
      
      .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 15px;
        height: 90vh;
        background: url("images/hero-image.jpg");
        background-size: cover;
      }

 .hero header {
  color: white;
  font-size: 70px;
  font-family: 'Merriweather', serif;
 }

 .hero .time-content {
display: flex;
column-gap: 30px;
align-items: center;

 }

.time-content .time{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.time .number{
  font-size: 50px;
  font-family: 'Lato', sans-serif;
font-weight: bold;
}

.time .text{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15px;
  text-transform: capitalize;
}

.time .number,
.time .text{
  color: white;
}

.hero button{
  background: rgba(140,14,3);
  padding: 10px, 10px;
}

.hero button:hover {
  background: #403C01;
  color: white;
  text-transform: uppercase;
}

.sign-up{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

h1{
  font-size: 45px;
  color: #8C0E03;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
}

h1 span {
  color: black;
  font-family: 'Merriweather', serif;
}

.sign-up button{
  background: #403C01;
  padding: 10px 15px;
}

.sign-up button:hover {
  background: #8C0E03;
  color: white;
  text-transform: uppercase;
}


.card-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding-bottom: 80px;
}

.card {
  width: 300px;
  padding: 20px;
  margin: 50px;
}

.card img {
  height: auto;
  display: block;
  margin: 50px;
}

h2{
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

.card-container header {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  color: #403C01;
  padding-bottom: 20px;

}

body {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 12px;
}


    }